<% if current_user %>
	<ul class="nav nav-tabs">
	  <li class="<%= 'active' if current_page?('/auctions') || current_page?(root_path) %>"><%= link_to "Ver todas", auctions_path %></li>

	  <% if current_user %>
	    <li class="<%= 'active' if current_page?('/auctions/new') %>"><%= link_to "Crear Subasta", new_auction_path %></li>
	    <li class="<%= 'active' if current_page?('/auction/myAuctions') %>"><%= link_to "Mis Subastas", auction_myAuctions_path %></li>
	    <li class="<%= 'active' if current_page?('/bids') %>"><%= link_to "Mis Ofertas", bids_path %></li>
      <li class="<%= 'active' if current_page?('/auction/finalizar') %>"><%= link_to "Finalizar", auction_finalizar_path %></li>
      <li class="<%= 'active' if current_page?('/auction/finalizadas') %>"><%= link_to "Finalizadas", auction_finalizadas_path %></li>
      <li class="<%= 'active' if current_page?('/auction/ganadas') %>"><%= link_to "Ganadas", auction_ganadas_path %></li>
	  <% end %>
	</ul>
<% end %>
