<h1>Editar Oferta</h1>

<% if @bid.errors.any? %>
    <div id="error_explanation">
        <ul>
	        <% @bid.errors.full_messages.each do |message| %>
	            <li><%= message %></li>
	        <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @bid do |f| %>
	
    <div class="form-group">
      <%= f.label :reason, "Razón" %>
      <%= f.text_area :reason, class: "form-control", value: Bid.find(@bid).reason %>
    </div>  

    <div class="form-group">
      <%= f.label :price, "Precio" %>
      <%= f.text_field :price, class: "form-control", placeholder: "Ej. 256.64" %>
    </div>        

    <%= f.submit "Editar", class: "btn btn-primary" %>

<% end %>
