<h1>Mis Ofertas Realizadas</h1>

<%= render "tabs" %>

<% @bids.each do |bid| %>
	<div class="span2 well">
		<%# if bid.user_id == current_user.id %>
			<!--<div><strong><%= User.find(bid.user_id).username %>, Fecha y Hora: (<%= bid.created_at.to_formatted_s(:db) %>) </strong> <%= link_to Auction.find(bid.auction_id).name , auction_path(bid.auction_id) , class: 'btn btn-warning' %></div>-->

      <p><strong><%= bid.user.username %></strong> <%= bid.created_at.to_formatted_s(:db) %> <%= link_to Auction.find(bid.auction_id).name , auction_path(bid.auction_id) , class: 'btn btn-warning' %></p>
			<%= bid.reason %>
		<%# end %>
	</div>
<% end %>

