<h1>Mis Ofertas</h1>

<%= render "tabs" %>

<% Bid.all.each do |b| %>
    <div class="span2 well">
				<% if b.user_id == current_user.id %>
				  <div><strong><%= User.find(b.user_id).username %>, Fecha y Hora: (<%= b.created_at.to_formatted_s(:db) %>) </strong> <%= link_to Auction.find(b.auction_id).name , auction_path(b.auction_id) , class: 'btn btn-primary' %></div>
				  <%= b.reason %>
				<% end %>
    </div>
<% end %>
