<h3>Razones de oferta</h3>

<% @auction.bids.each do |bid| %>
  <div class="span2 well">
      <p><strong>NOMBRE_DEL_USUARIO</strong> <%= bid.created_at.to_formatted_s(:db) %></p>

      <%= bid.reason %>
  </div>
<% end %>


<h3>Publica tu oferta:</h3>
<%= form_for([@auction, @auction.bids.build]) do |f| %>
  <div class="form-group">
    <%= f.label :reason %>
    <%= f.text_area :reason, class: "form-control" %>
  </div>

  <%= f.submit "Ofertar" %>
<% end %>