<% if current_user %>
  
  <% if current_user.owner_or_admin?(@auction) %>

    <h3>Razones de oferta</h3>

    <% @auction.bids.each do |bid| %>
      <div class="span2 well">
          <p><strong><%= bid.user.username %></strong> <%= bid.created_at.to_formatted_s(:db) %></p>
          <p><%= bid.reason %></p>
      </div>
    <% end %>

  <% elsif current_user.has_bids?(@auction) %>

    <h3>Razón de mi oferta</h3>

    <%= current_user.get_reason(@auction) %>

  <% else %>

    <%# !Bid.exists?(user_id: current_user.id, auction_id: @auction.id) %>
    <% if !current_user.has_bids?(@auction) %>
      <h3>Publica tu oferta:</h3>

      <% if @bid.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @bid.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>

      <% end %>

      <%#= form_for([@auction, @auction.bids.build]) do |f| %>
      <%= form_for(@bid, url: auction_bids_path(@auction)) do |f| %>

      <%#= form_for @auction do |f| %>
      <!-- UPDATE /auctions/1 -->

      <%#= form_for @auction.bids.build do |f| %>
      <%#= form_for @bid do |f| %>
      <!-- CREATE /bids -->

      <%#= form_for([@auction, @auction.bids.build]) do |f| %>
      <%#= form_for(@bid, url: auction_bids_path(@auction)) do |f| %>
      <!-- CREATE /auctions/1/bids -->

          <div class="form-group">
            <%= f.label :reason, "Razón" %>
            <%= f.text_area :reason, class: "form-control" %>
          </div>  

          <div class="form-group">
            <%= f.label :price, "Precio" %>
            <%= f.text_field :price, class: "form-control", placeholder: "Ej. 256.64" %>
          </div>        

        <%= f.submit "Ofertar", class: "btn btn-primary" %>
      <% end %>
    <% end %>

  <% end %>

<% end %>