<%= form_for :auction, url: auctions_path do |f| %>

  <% if @auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auction.errors.count, "error") %> prohibited this auction from being saved:</h2>

      <ul>
      <% @auction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Descripción %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :Link %><br>
    <%= f.text_field :link %>
  </div>

<div class="field">
	<%= f.label :Categoria %>
		<br>
			<%= f.select :category, Category.all, {:include_blank => '--Seleccione una Opción--'}, :required => false %>
		</br>  
</div>
	


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
