<%= form_for(@auction) do |auc| %>
  <% if @auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auction.errors.count, "error") %> prohibited this auction from being saved:</h2>

      <ul>
      <% @auction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= auc.label :Nombre %><br>
    <%= auc.text_field :name %>
  </div>
  <div class="field">
    <%= auc.label :Descripción %><br>
    <%= auc.text_field :description %>
  </div>
  <div class="field">
    <%= auc.label :Link %><br>
    <%= auc.text_field :link %>
  </div>
  <div class="field">
    <%= auc.label :Categoria %><br>
	 <select>
	    <% Category.all.each do |categ| %>
	    	<option> <% categ.nombre %> </option> 
		<%#REVISAR: deberia decir todas las categorias, para seleccionar una%>
		<%#AGREGAR CAMPO CATEGORIA EN EL MODELO auction%>
  	    <% end %>
	 </select>
  </div>
  <div class="actions">
    <%= auc.submit %>
  </div>
<% end %>
