<h1>Subastas</h1>
<%= render 'tabs' %>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-sm-3">Nombre</th>
			<th class="col-sm-4">Descripcion</th>
			<th class="col-sm-1">Categoria</th>
			<th class="col-sm-1">Imagen</th>
			<th class="col-sm-3">Acción</th>
		</tr>
	</thead>

	<tbody>
		<% Auction.all.each do |a| %>
			<% if a.active %>
				<tr>
					<td><%= a.name %></td>
					<td><%= truncate(a.description, length: 120, omission: '...') %></td>
					<td><%= a.category %></td>
					<td><%= link_to "Ver", a.link, class: "btn btn-link", target: "_blank" %></td>
					<td>
					<% if current_user%>					
						<% unless (a.owner == current_user.username) %>
							<%= link_to 'Ofertar', :auctions , class: 'btn btn-success' %>
						<% end %>
					<%end%>
					<%= link_to 'Ver', auction_path(a), class: 'btn btn-warning'%>
					<% if current_user%>	
						<% if ((current_user.username == a.owner) || (current_user.admin?)) %>				
							<%= link_to "Eliminar", a, method: :delete, data:{confirm:"¿Está seguro?"}, class: 'btn btn-danger' %>		
							<%= link_to 'Editar', edit_auction_path(a), class: 'btn btn-info' %>
						<% end %>
						<% if (current_user.username == a.owner) %>
							<%= link_to 'Elegir Ganador', :auctions , class: 'btn btn-success' %>				
						<% end %>
					<% end %>					
					</td>
				</tr>
			<% end %>
		<% end %>  
	</tbody>
</table>
