<h1>Listado de Subastas</h1>
<%= render 'tabs' %>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-sm-2">Nombre</th>
			<th class="col-sm-2">Descripcion</th>
			<th class="col-sm-1">Categoria</th>
			<th class="col-sm-2">Link</th>
			<th class="col-sm-4">Acción</th>
		</tr>
	</thead>

	<tbody>
		<% Auction.all.each do |a| %>
			<% if a.active %>
				<tr>
					<td><%= a.name %></td>
					<td><%= a.description %></td>
					<td>IngresarCategoriaAqui</td>
					<td><link><%= a.link %></link></td>
					<td>
					<%= link_to 'Ofertar', edit_auction_path(a), class: 'btn btn-success' %>
					<%= link_to 'Ver', auction_path(a), class: 'btn btn-warning'%>
					<% if current_user.admin? %>				
						<%= link_to "Eliminar", a, method: :delete, data:{confirm:"¿Está seguro?"}, class: 'btn btn-danger' %>
					<% end %>
					<%= link_to 'Editar', edit_auction_path(a), class: 'btn btn-info' %>				
					</td>
				</tr>
			<% end %>
		<% end %>  
	</tbody>
</table>
