<%= link_to 'Volver al listado', auctions_path %> | Publicación #<%= @auction.id %>

<div class="page-header">
  <h1><%= @auction.name %> <small><%= @auction.category.name %></small></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag Auction.first.image.thumb('400x400').url if Auction.first.image_stored? %>
  </div>

  <div class="col-md-8">
    <h3>Autor</h3>
    <%= @auction.user.username %>

    <h3>Descripción</h3>
    <%= @auction.description %>
  </div>
</div>

<%= render 'auctions/bids_form' %>