 <% if current_user.admin? %>
	<tr>

	<td><h2>Listado de Usuarios Activos</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-sm-8">Email</th>
					<th class="col-sm-3">Acción</th>
				</tr>
			</thead>

			<tbody>
		    <% @users.each do |user| %>
			<% if user.activo == true %>
				<tr>	
					<td><%= user.email %></td>
			       		<td>
					<%= link_to 'Ver Cuenta', user , class: 'btn btn-primary'%>
					<%= link_to 'Editar Cuenta', edit_user_path(user) , class: 'btn btn-primary'%>
					<%= link_to 'Eliminar Cuenta', user, method: :delete, data: { confirm: '¿Estas Seguro?' } , class: 'btn btn-danger' %>
					</td>
				</tr>
		    	<% end %>
		  <% end %>
		  </tbody>
		</table>
	</td>
	<td><h2>Listado de Usuarios In-Activos</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-sm-8">Email</th>
					<th class="col-sm-3">Acción</th>
				</tr>
			</thead>

			<tbody>
		    <% @users.each do |user| %>
			<% if user.activo == false %>
				<tr>	
					<td><%= user.email %></td>
			       		<td>
					<%= link_to 'Ver Cuenta', user , class: 'btn btn-primary'%>
					<%= link_to 'Re-Activar Cuenta', users_path, method: :reactiv, data: { confirm: '¿Estas Seguro?' } , class: 'btn btn-danger' %>
					</td>
				</tr>
		    	<% end %>
		  <% end %>
		  </tbody>
		</table>
	</td>
	</tr>
<% else %>
	<13 style="color:red">ATENCIÓN: No tiene los permisos para acceder a esta pagina</h1>
<% end %>
