<% if current_user %>
	 <% if current_user.admin? %>
		<p id="notice"><%= notice %></p>

		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-sm-1">Id</th>
					<th class="col-sm-2">Email</th>
					<th class="col-sm-1">Usuario</th>
					<th class="col-sm-4">Crypted password</th>
					<th class="col-sm-2">Salt</th>
					<th class="col-sm-1">Activo</th>
				</tr>
	

				<tbody>
					<tr>
					<td><%= @user.id %></td>
			    		<td><%= @user.email %></td>
					<td><%= @user.username %></td>
			    		<td><%= @user.crypted_password %></td>	
			    		<td><%= @user.salt %></td>
					<% if @user.active %>
						<td>Si</td>
					<% else %>
						<td>No</td>
					<% end %>
					</tr>
				</tbody>
			</thead>
		</table>



		<%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %>
	<%else%>
		<div class="alert alert-danger" role="alert">ATENCIÓN: No tiene los permisos para acceder a esta pagina</div>
	<%end%>
<%end%>
