<% if current_user %>
	 <% if current_user.admin? %>
		<% if @category.errors.any?  %>
			<div class="alert alert-danger" role="alert">
				<%= @category.errors.get(:nombre).first %>
			</div>
		<% end %>

		<%= form_for @category do |f| %>		
			<div class="form-group">
				<%= f.label :Nombre %>
				<%= f.text_field :nombre, class: 'form-control', placeholder: 'Ej: muebles, vestimentas, etc.' %>
			</div>

			<%= f.submit "Guardar", class: 'btn btn-primary' %>
			<%= link_to "Cancelar",categories_path, class: 'btn btn-danger' %>
		<% end %>
	<% else %>
		<div class="alert alert-danger" role="alert">ATENCIÓN: No tiene los permisos para acceder a esta pagina</div>
	<% end %>
<% else %>
	<div class="alert alert-danger" role="alert">ATENCIÓN: No tiene los permisos para acceder a esta pagina</div>
<% end %>














