<% if @category.errors.any?  %>
	<div class="alert alert-danger" role="alert">
		<%= @category.errors.get(:name).first %>
	</div>
<% end %>

<%= form_for @category do |f| %>		
	<div class="form-group">
		<%= f.label :Name %>
		<%= f.text_field :name, class: 'form-control', placeholder: 'Ej: muebles, vestimentas, etc.' %>
	</div>

	<%= link_to "Cancelar", categories_path, class: 'btn btn-danger' %>
	<%= f.submit "Guardar", class: 'btn btn-primary' %>			
<% end %>