<h1>Buscar Subasta</h1>
	<%= form_tag("/searchs/index", method: "get") do %>
	<div class="form-group">
		<div>
			<%= label_tag(:q, "Nombre de Subasta:") %>
		</div>
		<%= text_field_tag(:name) %>
	</div>

	<div class="form-group">
		<%= label_tag "Categoría" %>
		<%= select_tag :category_id , options_from_collection_for_select(Category.all, :id, :name, 25), :include_blank => true , class: "form-control" %>
	</div>
<%= submit_tag("Buscar") %> 
<% end %>
