<%= form_tag user_sessions_path, :method => :post do %>

	<div class="form-group">
		<%= label_tag :username, "Nombre de usuario" %>
		<%= text_field_tag :username, nil,  :class => 'form-control' %>
	</div>

	<div class="form-group">
		<%= label_tag :password, "Contraseña" %>
		<%= password_field_tag :password, nil, :class => 'form-control' %>
	</div>

	<div class="form-group">
		<%= check_box_tag :remember_me, 1, params[:remember_me] %>
		<%= label_tag :remember_me, "No cerrar sesión" %>
	</div>	

	<div class="actions">
		<%= submit_tag "Ingresar", id: "myButton", class: "btn btn-primary", data: {"loading-text" => "Espere..."} %>
		<%= link_to '¿Olvidaste tu contraseña?', new_password_reset_path %>
	</div>
<% end %>

<script>
  $("#myButton").click(function() {
    var $btn = $(this);
    $btn.button('loading');
    // simulating a timeout
    setTimeout(function () {
        $btn.button('reset');
    }, 1000);
	});
</script>